<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome Super Hero Lovers</h1>
    <h3>Punch one of the pics below to see some cool suits</h3>
    <div class="superhero-container">
      <div class="ironman">
        <a href="http://127.0.0.1:5000/ironman/"
          ><img
            src="https://i.pinimg.com/564x/86/ed/f9/86edf9f155e078271d4680a38eb5ec34.jpg"
            alt="ironman"
        /></a>
        <p>
          pic by
          <a href="https://www.pinterest.com/BellaBlues99/">𝓑𝓮𝓵𝓵𝓪𝓫𝓵𝓾𝓮𝓼</a> from
          Pinterest
        </p>
      </div>
      <div class="spiderman">
        <a href=""
          ><img
            src="https://cdn.pixabay.com/photo/2023/07/30/13/07/spiderman-8158916_640.png"
            alt="spiderman"
        /></a>
        <p>
          pic by
          <a href="https://pixabay.com/users/cr-ai-tive-37787227/"
            >Cr-AI-tive</a
          >
          from Pixabay
        </p>
      </div>
    </div>
  </body>
</html>
